# Algorand Configuration
ALGOD_SERVER=https://testnet-api.algonode.cloud
ALGOD_PORT=
ALGOD_TOKEN=
ALGOD_NETWORK=testnet

# Contract Configuration
CONTRACT_APP_ID=746230222
CONTRACT_ADDRESS=JYSDGLSFX6IJEMV3QQK47H32AI7QL7FHOLNV6YXCXOQVDUPLVP6YLSF2FQ

# Server Configuration
PORT=3001
NODE_ENV=development

# GoPlausible DID Resolver
GOPLAUSIBLE_RESOLVER=https://resolver.goplausible.xyz/resolve
